.collection-item{
    height: 220px;
    width: 200px;
}
.backgroundImage{
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-content{
    height: 20%;
    display: flex;
    justify-content: space-between;
}